@import "reset.css";
body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  background: url("../img/background.png") repeat-x top center #0C75A0;
  ;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.wrapper {
  margin: auto;
  background-color: white;
  width: 1000px;
  box-shadow: 0px 0px 10px -2px black;
}


/*LOGO*/

.logo {
  margin: 10px 25px 0px;
  float: left;
  display: block;
}

.logo img {
  vertical-align: bottom;
}


/*Contacts*/

.right-head-block {
  float: right;
  margin: 10px 25px;
}

.contacts {
  float: right;
  color: rgba(18, 138, 167, 0.8);
  font-weight: 600;
  font-size: 12px;
}

.contacts span {
  display: block;
  padding: 2px;
  font-weight: normal;
}

.contacts span:first-child {
  margin-top: 8px;
}


/*Country-list*/

.countries {
  float: right;
  margin-top: 15px;
  clear: right;
}

.countries li {
  display: inline-block;
  padding: 5px 5px;
}

.countries a {
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(18, 138, 167);
}

.countries a:hover {
  text-decoration: none;
}


/*PHOTO STYLES*/

.photo img {
  border-top: 1px solid rgb(18, 138, 167);
  border-bottom: 1px solid rgb(18, 138, 167);
  vertical-align: bottom;
}


/*NAVBAR*/

.menu {
  background: #343434;
  border-top: 1px solid gray;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 10px -2px black;
}

.navbar {
  text-align: center;
}

.navbar > li {
  display: inline-block;
  position: relative;
  line-height: 30px;
}

.navbar li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0 30px;
}

.navbar > li > .dropdown:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  vertical-align: top;
  margin: 4px 0px 0px 7px;
}


/*SUBMENU*/

.submenu {
  display: none;
  position: absolute;
  top: 30px;
  right: -15px;
  background-color: #343434;
  text-align: left;
}

.submenu li {
  padding-left: 10px;
  padding-right: 40px;
}

.submenu li a {
  padding: 0 10px;
}

.navbar > li:hover > .submenu {
  display: block;
  z-index: 100;
}


/*Columns */

.content {
  width: 1000px;
  background: url("../img/grey_bground.png") repeat-y;
  float: left;
}

.leftcolumn {
  width: 208px;
  float: left;
  text-align: center;
  line-height: 24px;
}

.centercolumn {
  width: 584px;
  float: left;
}

.rightcolumn {
  width: 208px;
  float: left;
  text-align: center;
  line-height: 24px;
}

.rightcolumn a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 18px;
  color: #424c43;
  margin: 10px;
  font-weight: 600;
}


/*Footer*/

footer {
  padding: 20px 0;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 12px;
}
