@import "reset.css";
body {
  background-color: #f9f9f9;
  color: #2c2c2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/*Central box (PAPER)*/

.wrapper {
  margin: auto;
  width: 1066px;
  background-color: #ffffff;
  padding: 50px 0px 65px;
  box-shadow: 0px 0px 15px -5px #000000;
}


/*Header & LOGO*/

.wrapper a img {
  margin-left: 50px;
}

header {
  height: 40px;
  margin: 50px 50px;
  background-image: -moz-linear-gradient( 90deg, rgb(68, 67, 67) 0%, rgb(94, 94, 94) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(68, 67, 67) 0%, rgb(94, 94, 94) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(68, 67, 67) 0%, rgb(94, 94, 94) 100%);
}

header ul li {
  display: inline-block;
}

header ul li a {
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  color: white;
  text-decoration: none;
  display: block;
  /*width: 80px;*/
  height: 16px;
  text-align: center;
  padding: 12px 39px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

header ul li a:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(46, 46, 46) 0%, rgb(74, 74, 74) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(46, 46, 46) 0%, rgb(74, 74, 74) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(46, 46, 46) 0%, rgb(74, 74, 74) 100%);
  border-right: 1px solid #838383;
  border-left: 1px solid #838383;
}

/*SIDE MENU*/

.aside {
  float: left;
}

.aside ul {
  margin-left: 50px;
}

.aside ul li {
  display: block;
  height: 40px;
  width: 240px;
  border: 1px solid #c8c8c8;
  border-top: none;
  border-collapse: collapse;
}

.aside ul li:first-child{
  border: 1px solid #c8c8c8;
}

.aside ul li a {
  display: block;
  vertical-align: middle;
  padding: 12px 40px;
  text-decoration: none;
  font-size: 14px;
  color: #656363;
  height: 20px;
}

.aside ul li:hover {
  background-color: #f9f9f9;
}

.aside ul li a:hover {
  color: black;
}

.checked {
  background-color: #f9f9f9;
}

.aside ul .checked a {
  display: block;
  padding: 12px 60px;
  text-decoration: none;
  color: black;
  height: 20px;
}

/*CONTENT*/

.content {
  width: 678px;
  margin-right: 50px;
  float: right;
}

.bicycle {
  border: 1px solid #c8c8c8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.bicycle img {
  margin: 45px auto;
}

.content p {
  margin: 25px 25px 70px;
  font-size: 13px;
  line-height: 22px;
}

/*FOOTER*/

.footer {
  height: 40px;
  background-color: #e1e1e1;
  margin: 80px 50px 0px;
  clear: both;
}

.footer ul li {
  display: inline-block;
}

.footer ul li a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  display: block;
  height: 20px;
  text-align: center;
  padding: 12px 40px 10px;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer p {
  float: right;
  margin-top: 12px;
  margin-right: 40px;
}
