body {
  background-color: rgb(204, 204, 204);
  font-family: "Times New Roman";
  height: 1050px;
  font-size: 20px;
}

.paper {
  width: 800px;
  margin: auto;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.main-info {
  margin: auto;
  padding: 20px;
  width: 700px;
  border-bottom: 1px solid gray;
  text-align: center;
}

.why {
  margin: auto;
  padding: 20px;
  width: 700px;
  border-bottom: 1px solid gray;
}

.about {
  margin: auto;
  padding: 20px;
  width: 700px;
  border-bottom: 1px solid gray;
}

.feedback {
  margin: auto;
  padding: 20px;
  width: 700px;
  padding-bottom: 50px;
}
