.feedback {
  display: inline-block;  
  width: 425px;
  margin-top: 100px;
  color: rgb(69, 69, 69);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.feedback__content {
  position: relative;
  padding: 40px;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

.feedback__head {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.feedback__content::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  left:-22px;
  top:25px;
  background: url('../../img/photo.png');
}

.feedback__head-2ndpart {
  color: #edbfff;
}

.feedback__description {
  margin-top: 18px;
  font-family: "Open Sans", 'Helvetica Neue', "Arial";
  font-size: 14px;
  line-height: 24px;
}

.feedback__content::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 360px;
  bottom: -20px;
  background: url('../../img/triangle.png');
  background-position: 50% 99%;
  background-color: #f9f9f9;
  box-shadow: 1px 0px 1px rgba(0,0,0,0.05);
   }

.feedback-input {
  margin: 22px auto;
  text-align: center;
}

.feedback-input__label::after {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.feedback-input__label:after {
  width: 16px;
  height: 16px;
}

.input-form__item:checked + .feedback-input__label:after {
  background: url('../../img/black-radio.png') center no-repeat;
  background-color: white;
}
