.slider {
  margin-top: 170px;
  width: 100%;
  font-family: "LeagueGothic", "Helvetica Neue", "Helvetica", "Open Sans", "Arial";
}

.slider__content {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider__text {
  float: left;
  padding: 80px 0 85px;
  width: 54%;
  color: white;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__text-header {
  font-size: 60px;
  height: 60px;
  overflow: hidden;
  text-overflow: clip;
}

.slider__text-fabula {
  font-size: 32px;
  height: 32px;
  color: #edbfff;
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: clip;
}

.slider__text-description {
  height: 140px;
  font-family: "Open Sans Light", 'Helvetica Neue', "Arial";
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: clip;
}

.slider__image {
  display: block;
  height: inherit;
  float: left;
  margin-left: 125px;
  position: relative;
}

.slider__image-2 {
  position: absolute;
  top: -20px;
}

/*CUSTOM INPUT RADIO-BUTTONS*/

.slider__input {
  float: right;
  margin: 95px 120px 0 0;
  padding-bottom: 60px;
}

.slider__input_label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 7px;
  margin-right: 15px;
  font-size: 13px;
}

.slider__input_item {
  display: none;
}

.slider__input_label:after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.slider__input_item:checked + .slider__input_label:after {
  content: "";
  background: url('../../img/radio-checked.png') center no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
}

.text__test {
  font-family: "Open Sans Light", "Arial";
  font-size: 18px;
  line-height: 24px;
  color: white;
  width: 200px;
  overflow: hidden;
  text-overflow: clip;
  height: 100px;
}

/*SLIDER MEDIA queries*/

/*SMALL TABLETS*/
@media screen and (min-width:480px) and (max-width:767px) {
  .slider__content{
    height: 245px;
  }
  .slider__text-description {
    display: none;
  }
  .slider__image {
    margin-left: 22px;
    float: none;
  }
  .slider__input {
    float: none;
    margin: 90px auto 0;
    text-align: center;
  }
  .slider__image-2{
    transform: scale(0.68);
    top: -76px;
  }
  .slider__text-header {
    font-size: 36px;
    height: 36px;
  }
  .slider__text-fabula {
    font-size: 18px;
    height: 18px;
  }
  .slider__text {
    width: 220px;
  }
}

/*MOBILE DEVICES*/
@media screen and (max-width:320px) {
  .slider__image {
    display: none;
  }
  .slider__content {
    background: none;
  }
  .slider__text {
    margin: 0px auto;
  }
}
